@mixin property-with-rgba($property, $color, $opacity: 0.3) {
    #{$property}: $color; 
    #{$property}: rgba($color, $opacity);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* colors */
$darkBlue: #194764;
$blue: #286890;
$whiteBG: #f2f2f2;
$white: #fff;
$grey: #d6d6d6;
$lightGrey: #939598;

/* body */
$bodyBackground: #fff;

/* article */
$bodyContentColor: #1f1f1f;
$excerptColor: $darkBlue;

/* links */
$linkColor: $darkBlue;
$hoverColor: #fff;
$visitedColor: lighten($blue,10);