@import "compass/utilities/sprites";
@import "../images/sprites/one-x/*.png";
@import "../images/sprites/two-x/*.png";
@import "../images/sprites/three-x/*.png";

$icons: sprite-map("sprites/one-x/*.png", $layout: smart);
$icons-2x: sprite-map("sprites/two-x/*.png", $layout: smart);
$icons-3x: sprite-map("sprites/three-x/*.png", $layout: smart);

/* sprites */
.sprite,
.sprite-after:after,
.sprite-before:before { background: sprite-url($icons) 0 0 no-repeat; background-size: image-width(sprite-path($icons)) image-height(sprite-path($icons)); }

.sprite,
.font-sprite { 
	position: relative; 
	@extend .replace; 
}

.sprite-before,
.sprite-after { position: relative; }

.sprite-after:after,
.sprite-before:before { content:""; display: inline-block; vertical-align: middle;}

.sprite-after.abs:after,
.sprite-before.abs:before { display: block; position: absolute; top:0; left:0; right:0; height:0;}


.twox.sprite, /* for extending */
.twox.sprite-before:before,/* for extending */
.twox.sprite-after:after,/* for extending */
.twox .sprite,
.twox .sprite-before:before,
.twox .sprite-after:after { background-image: sprite-url($icons-2x); }

.threex.sprite, /* for extending */
.threex.sprite-before:before,/* for extending */
.threex.sprite-after:after,/* for extending */
.threex .sprite,
.threex .sprite-before:before,
.threex .sprite-after:after { background-image: sprite-url($icons-3x); }

@each $sprite in sprite-names($icons) {

	/* declare variables */
	$class: #{$sprite};
	$width: image-width(sprite-file($icons,#{$sprite}));
	$height: image-height(sprite-file($icons,#{$sprite}));
	$halfHeight: $height/2;

	.sprite.#{$class},
	.sprite-after.#{$class}:after,
	.sprite-before.#{$class}:before { background-position: sprite-position($icons,$sprite); }
	.sprite.#{$class},
	.sprite-after.#{$class}:after,
	.sprite-before.#{$class}:before { width: $width; padding: $height 0 0; }
	.sprite-after.abs.#{$class}:after,
	.sprite-before.abs.#{$class}:before { top: 50%; margin: -$halfHeight auto 0; }

}

