/* body */

body { font-family: $defaultFontStack; line-height: 1.4; background-color: #082032; overflow-x:hidden; font-weight:300;}

.page-wrapper { margin: 0 auto; position: relative; width: 1600px; max-width: 100%; }
.sw { width: $wrapperWidth; max-width: 95%; margin: 0 auto; position: relative; }
#wrapper { position: relative; background: #fff; z-index: 9;}
.ie8 body { min-width: $wrapperWidth; }

html,
body,
body .page-wrapper,
body .hero { height: 100%; }

.body,
.body .grey-bg { background: $whiteBG; }
.body section { padding: 40px 0; }
.body .white { background: #fff; border-bottom: 1px solid #e5e5e5;}
.body section.blue-bg { background: $darkBlue; }
.body section.nopad { padding:0; }

.dark-bg { color: #fff; }