/* nav */
#mobile-nav { display: none; }
.nav-wrap {position: absolute; top: 0; left: 0; right:0; z-index: 5;}
.nav {  position: absolute; top:128px; left:0; right:0; height: 102px; box-shadow: 0 4px 4px rgba(0,0,0,0.4); 
	@include property-with-rgba( background, #fff, 0.9 );
}

nav { position: absolute; top:0; left:0; right:0; font-size: 12px; padding-right: 72px;}
nav>ul { display: table; width: 100%; }
nav>ul>li{ display: table-cell; }
nav>ul>li>a { display: block; text-align: center; padding: 60px 20px 0; height: 102px; color: #000; text-transform: uppercase; position: relative; z-index: 2;}

nav ul li>div { display: none; overflow: hidden; padding: 10px; position: absolute; top: 102px; left:0; right:0; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,0.4); z-index: 1; }
nav li:hover>div { display: block; }
nav ul li>div:before { position: absolute; top:0; left:0; bottom:0; width:180px; background: $darkBlue; content:""; z-index: 1; }

.nav .top { position: absolute; top:-96px; right:0; text-align:center; 
	@include transform( translateZ(0) );
}
.meta-nav .toggle-search-form { display: none; }
.meta-nav { padding-bottom: 4px; margin-bottom:  8px; border-bottom:  1px solid #082231; overflow: hidden; }
.meta-nav a { color: #fff; line-height: 1; padding: 8px; font-size: 10px; text-transform: uppercase; display:block; float:left; cursor: pointer;}
.meta-nav a:hover {
	@include property-with-rgba( background-color, #082231, 0.5 );
 }
.nav .top .social { display: inline-block; }

#toggle-search { position: absolute; right: 0; height: 102px; top: 0; width: 72px; display: block; text-indent: -999em; }
#toggle-search:before { font-size: 18px; }

nav>ul>li>a,
#toggle-search { border-left: 1px solid #c2c5c2; border-color: rgba(0,0,0,0.2);	
	@include transition(background-color 0.15s $ease-in-out-sine);
}
nav { border-right: 1px solid #c2c5c2; border-color: rgba(0,0,0,0.2); }

nav>ul>li:hover>a,
#toggle-search:hover { background: #fcfbfa; }

nav ul ul { float: left; width: 160px; position: relative; z-index: 2;}
nav .link-meta .title { display: block; font-size: 18px; color: $darkBlue; }
nav .link-meta .button { float: right; }
nav .link-meta { margin-left: 180px; padding: 20px; text-transform: none; min-height: 200px;}
nav .link-meta .title { margin: 0 0 10px; }
nav .link-meta>div { display: none; }
nav .link-meta>div.active { display: block; }
nav .meta { overflow: hidden; margin-right: 270px;}
nav .img { position: absolute; width: 250px; top:0; right:0; bottom:0; background-size: cover; background-position:center; background-repeat: no-repeat;
	@include opacity( 0 );
}
nav .img.loaded { 
	@include opacity( 1 );
	@include transition( opacity 0.2s $ease-in-sine );
}
nav ul ul { padding: 20px 0; }
nav ul ul a { display: block; padding: 6px 6px 6px 12px; color: #fff; position: relative; text-transform: uppercase;}
nav ul ul a:after { position: absolute; top:0; right:-20px; bottom:0; width: 20px; background: url(../images/highlight-triangle.png) right center no-repeat; content:""; display: none;}
nav ul ul .selected a,
nav ul ul a:hover { background: $blue;}
nav ul ul .selected a:after,
nav ul ul a:hover:after { display: block; }