/* buttons */
/* remove default button styling */
button { background: transparent; border: none; }

.button { font-family: $defaultFontStack; font-weight:normal; text-transform: uppercase; font-size: 14px; line-height: 1; padding: 10px 16px; display: inline-block; cursor: pointer;}
.button.with-ico:before { margin-right: 5px; }

.button.sm { border-width: 1px; font-size: 10px; }
.article-head .button.sm { padding: 2px 4px;}
.button.dark-fill { background: $blue; color: $white;}
.button.dark-fill.selected,
.button.dark-fill:hover { color: $white; border-color: $darkBlue; background: $darkBlue;}
.button.dark-fill.reverse { background: $darkBlue; border-color: darken($darkBlue,5);}
.button.dark-fill.reverse.selected,
.button.dark-fill.reverse:hover { background: $blue; }


.button {border: 2px solid $darkBlue; color: $darkBlue; background: transparent;}
.dark-bg .button,
.button.dark-bg { color: #fff; border-color: #fff; }
a:hover .button,
.button.selected,
.button.hover,
.button:hover { color: #fff; border-color: $blue; background: $blue;}
.button[disabled=disabled],
.button.disabled { color: $grey !important; border-color: $grey !important; background: transparent !important;}