div.datepicker { position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 12px; position: absolute; cursor: default; top: 0; left: 0; display: none; z-index: 50; }
.datepickerContainer { border: 1px solid #ddd; padding: 10px !important;	width: auto !important; height: auto !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: #fff;
	background: rgba(255,255,255,0.95);
}

.datepickerContainer table { width: 100%; }
.datepickerContainer>table>tbody>tr>td { vertical-align: top;} /* show two calendars aligned correctly */
.datepickerHidden { display: none; }
.datepicker table { border-collapse:collapse; }

/* views */
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears { display: none; }

table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW { display: none; }

table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW { display: none; }

/* table header */
.datepicker th { padding: 3px !important; border: 1px solid #ddd; border-width: 1px 0; font-size: 13px; text-transform: uppercase; color: #000; text-align: center; }
.datepicker th a { border-width:0 !important; color: #000; }

.datepicker .datepickerDoW th { font-size: 11px; }

/* days */
.datepickerDisabled { opacity: 0.4 !important; filter: alpha(opacity=40) !important; border-color: transparent !important; cursor: default; color: #000;}
.datepicker .no,
.datepicker .datepickerAfterMonth { display: none !important; }
.datepickerDays a { line-height: 26px; height: 26px; text-align: center; font-weight: bold;}
.datepicker td.datepickerNotInMonth a { color: #000; opacity: 0.8; filter: alpha(opacity=80); visibility: hidden; }
.datepickerDays .linkedRange { background: #ddd; }
.datepickerDays .today { box-shadow: inset 0 0 12px rgba(0,0,0,0.5); background: #009ddc; }
.datepickerDays .linkedDate,
.datepickerDays .actualDatepickerSelected { background: #bf9a5e; }

.datepicker a { display: block; border: 1px solid transparent; color: #4a4a4a; }
.datepicker a:hover { border-color: #4a4a4a; }
.datepickerDays .today a,
.datepickerDays .linkedRange a,
.datepickerDays .linkedDate a,
.datepickerDays .actualDatepickerSelected a { color: #fff; }

/* months/years view */
.datepickerYears a,
.datepickerMonths a{ width: 44px; line-height: 26px; height: 26px; margin: 2px 0 !important; text-align: center; }