/* Defaults */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/* from HTML5 boilerplate */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
  position: relative; }

/* some reset and other commonly used styles */
html {
  font-size: 100%; }

a {
  text-decoration: none; }

img {
  display: inline-block;
  max-width: 100%; }

.valign {
  display: inline-block;
  vertical-align: middle; }

img.valign {
  display: inline !important;
  vertical-align: middle !important; }

img.alignright {
  float: right;
  margin: 5px 0 14px 10px !important;
  clear: right;
  max-width: 40%; }

img.alignleft {
  float: left;
  margin: 5px 14px 10px 0 !important;
  clear: left;
  max-width: 40%; }

img.aligncenter {
  margin: 0 auto 16px;
  display: block; }

a img {
  border-width: 0; }

ul {
  list-style: none; }

fieldset {
  border-width: 0; }

address {
  font-style: normal; }

table caption {
  text-align: left; }

.replace {
  display: block;
  height: 0 !important;
  overflow: hidden;
  line-height: 0 !important;
  text-indent: -999em;
  background-color: transparent;
  border-width: 0;
  text-align: left; }

button.replace {
  text-indent: -999em; }

.shape {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  color: transparent !important;
  border: 0 solid transparent;
  font-size: 0 !important;
  background: none !important;
  overflow: hidden;
  display: inline-block; }

.right {
  float: right !important; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.i-hidden {
  display: none !important; }

.block {
  display: block; }

.ib {
  display: inline-block; }

img.block {
  margin: 0 auto; }

.uc {
  text-transform: uppercase; }

.alleft {
  text-align: left; }

.alright {
  text-align: right; }

.cf:after, .filter-bar:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden; }

/* ios scroll fix */
.scroll-fix {
  overflow-y: auto;
  overflow-x: hidden; }

.ios .scroll-fix-parent {
  -webkit-overflow-scrolling: touch;
  overflow: scroll !important; }

.ios .scroll-fix {
  -webkit-overflow-scrolling: touch;
  overflow: scroll !important; }

.ios .scroll-fix,
.ios .scroll-fix > * {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.grid-wrap {
  overflow: hidden; }

.grid, .gallery-thumbs {
  margin-left: -20px; }

.grid.centered, .centered.gallery-thumbs {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.grid:after, .gallery-thumbs:after {
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }

.col, .gallery-thumb {
  padding-left: 20px;
  float: left;
  padding-bottom: 20px; }

.col > .item, .gallery-thumb > .item,
.col > div,
.gallery-thumb > div {
  width: 100%;
  display: block; }

.vcenter,
.col > .vcenter,
.gallery-thumb > .vcenter {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.vcenter > div,
.col > .vcenter > div,
.gallery-thumb > .vcenter > div {
  max-width: 100%; }

.flexbox .grid.fill > .col, .flexbox .fill.gallery-thumbs > .col, .flexbox .grid.fill > .gallery-thumb, .flexbox .fill.gallery-thumbs > .gallery-thumb {
  max-width: 50%;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.grid.nopad, .nopad.gallery-thumbs {
  margin-left: 0; }

.grid.nopad > .col, .nopad.gallery-thumbs > .col, .grid.nopad > .gallery-thumb, .nopad.gallery-thumbs > .gallery-thumb {
  padding: 0; }

.grid.pad10, .pad10.gallery-thumbs {
  margin-left: -10px; }

.grid.pad10 > .col, .pad10.gallery-thumbs > .col, .grid.pad10 > .gallery-thumb, .pad10.gallery-thumbs > .gallery-thumb {
  padding-left: 10px;
  padding-bottom: 10px; }

.grid.pad5, .pad5.gallery-thumbs {
  margin-left: -5px; }

.grid.pad5 > .col, .pad5.gallery-thumbs > .col, .grid.pad5 > .gallery-thumb, .pad5.gallery-thumbs > .gallery-thumb {
  padding-left: 5px;
  padding-bottom: 5px; }

.grid.eqh, .eqh.gallery-thumbs {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid.eqh, .eqh.gallery-thumbs,
.grid.eqh > .col,
.eqh.gallery-thumbs > .col,
.grid.eqh > .gallery-thumb,
.eqh.gallery-thumbs > .gallery-thumb,
.grid.eqh > .col > .item,
.eqh.gallery-thumbs > .col > .item,
.grid.eqh > .gallery-thumb > .item,
.eqh.gallery-thumbs > .gallery-thumb > .item,
.grid.eqh > .col > div,
.eqh.gallery-thumbs > .col > div,
.grid.eqh > .gallery-thumb > div,
.eqh.gallery-thumbs > .gallery-thumb > div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.col-6 {
  width: 16.6666667%; }

.col-5 {
  width: 20%; }

.col-4, .gallery-thumb {
  width: 25%; }

.col-3 {
  width: 33.333333%; }

.col-2 {
  width: 50%; }

.col-1 {
  width: 100%; }

.col-2-3 {
  width: 66.666667%; }

@media screen and (max-width: 900px) {
  .col-900-6 {
    width: 16.6666667%; }

  .col-900-5 {
    width: 20%; }

  .col-900-4 {
    width: 25%; }

  .col-900-3 {
    width: 33.333333%; }

  .col-900-2 {
    width: 50%; }

  .col-900-1 {
    width: 100%; }

  .col-900-2-3 {
    width: 66.666667%; } }
@media screen and (max-width: 750px) {
  .sm-col-6 {
    width: 16.6666667%; }

  .sm-col-5 {
    width: 20%; }

  .sm-col-4 {
    width: 25%; }

  .sm-col-3 {
    width: 33.333333%; }

  .sm-col-2 {
    width: 50%; }

  .sm-col-1 {
    width: 100%; }

  .sm-col-2-3 {
    width: 66.666667%; } }
@media screen and (max-width: 500px) {
  .xs-col-6 {
    width: 16.6666667%; }

  .xs-col-5 {
    width: 20%; }

  .xs-col-4 {
    width: 25%; }

  .xs-col-3 {
    width: 33.333333%; }

  .xs-col-2 {
    width: 50%; }

  .xs-col-1 {
    width: 100%; }

  .xs-col-2-3 {
    width: 66.666667%; } }
.no-flexbox .grid.collapse-no-flex > .col, .no-flexbox .collapse-no-flex.gallery-thumbs > .col, .no-flexbox .grid.collapse-no-flex > .gallery-thumb, .no-flexbox .collapse-no-flex.gallery-thumbs > .gallery-thumb {
  width: 100% !important; }

/* colors */
/* swipejs */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  -webkit-perspective: 1000; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  position: relative;
  overflow: hidden; }

.swipe-wrap > div img {
  display: block; }

.swiper-wrapper {
  position: relative; }

.swiper-wrapper .links {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  right: 0; }

.swiper-wrapper .links a {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0; }

.swiper-wrapper .links a.next {
  left: auto;
  right: 0; }

.button-controls .slider-controls {
  margin: 10px 0 0; }

.slider-controls-links .item,
.swiper-wrapper.button-controls .slider-controls a {
  cursor: pointer;
  text-indent: -999em;
  display: inline-block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  border-radius: 14px;
  margin: 0 3px;
  border: 1px solid #000; }

.slider-controls-links .item.selected,
.slider-controls-links .item:hover,
.swiper-wrapper.button-controls .slider-controls a.selected,
.swiper-wrapper.button-controls .slider-controls a:hover {
  background: #000; }

.touch .swiper-wrapper.touch-collapse .links,
.touch .swiper-wrapper.touch-collapse .slider-controls,
.touch .swiper-wrapper.touch-collapse .swiper-nav-bar {
  display: none; }

.touch .swiper-wrapper.touch-collapse > .swipe > .swipe-wrap {
  display: block;
  width: 100% !important; }

.touch .swiper-wrapper.touch-collapse > .swipe > .swipe-wrap > div {
  display: block;
  width: auto !important;
  float: none !important;
  left: 0 !important;
  padding: 0 !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important; }

.touch .swiper-wrapper.touch-collapse > .swipe > .swipe-wrap > div.ghost {
  display: none !important; }

/* control-bar */
.slider-controls-links {
  text-align: center;
  margin: 15px 0 0; }

.slider-controls-links .item {
  border-color: #000;
  background: #fff; }

.slider-controls-links .item:hover,
.slider-controls-links .item.selected {
  background: #000; }

.slider-controls-links a {
  display: inline-block;
  vertical-align: middle; }

.slider-controls-links .font-sprite {
  width: 32px;
  padding: 22px 0 0;
  text-align: center;
  color: #000;
  font-size: 22px;
  cursor: pointer; }

/* my simple responsive slider styles */
.srf {
  position: relative;
  overflow: visible !important;
  -webkit-transform: translated3d(0, 0, 0);
  -moz-transform: translated3d(0, 0, 0);
  -ms-transform: translated3d(0, 0, 0);
  -o-transform: translated3d(0, 0, 0);
  transform: translated3d(0, 0, 0); }

.srf > .control-div {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 0; }

.srf .slider {
  width: 100%;
  list-style: none;
  display: block;
  position: relative;
  z-index: 1; }

.srf .slider img {
  max-width: 100%;
  display: block; }

.srf .slider > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  list-style: none;
  opacity: 0;
  display: none; }

.srf .slider > *:first-child {
  position: relative;
  display: block;
  z-index: 1;
  opacity: 1; }

.srf .slider_links {
  position: absolute;
  bottom: 0; }

.srf .slider_links li {
  display: inline; }

.srf .slider_links a {
  cursor: pointer; }

.srf .slider_controls {
  position: absolute;
  z-index: 2;
  list-style: none;
  display: block;
  left: 0;
  right: 0;
  top: 50%; }

.srf .slider_controls a {
  position: absolute;
  display: inline-block;
  color: #fff;
  cursor: pointer; }

.srf .slider_controls a.next {
  right: 0; }

.srf .slider_controls a.prev {
  left: 0; }

/* fonts */
/* Theme Base */
/* colors */
/* body */
/* article */
/* links */
/* Structural */
/* body */
body {
  font-family: Open Sans, helvetica, arial, sans-serif;
  line-height: 1.4;
  background-color: #082032;
  overflow-x: hidden;
  font-weight: 300; }

.page-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1600px;
  max-width: 100%; }

.sw {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  position: relative; }

#wrapper {
  position: relative;
  background: #fff;
  z-index: 9; }

.ie8 body {
  min-width: 1000px; }

html,
body,
body .page-wrapper,
body .hero {
  height: 100%; }

.body,
.body .grey-bg {
  background: #f2f2f2; }

.body section {
  padding: 40px 0; }

.body .white {
  background: #fff;
  border-bottom: 1px solid #e5e5e5; }

.body section.blue-bg {
  background: #194764; }

.body section.nopad {
  padding: 0; }

.dark-bg {
  color: #fff; }

/* header */
header {
  background: url(../images/header-bg.png) center repeat;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4; }

header .logo {
  display: block;
  position: absolute;
  top: 35px;
  left: 20px;
  width: 160px; }

.logo img {
  width: 100%; }

#mobile-book {
  display: none;
  text-align: center;
  padding: 12px;
  position: absolute;
  top: 14px;
  right: 8px;
  z-index: 21;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  background: #194764;
  border: solid #fff;
  border-width: 1px 1px 0; }

#mobile-nav {
  position: absolute;
  top: 12px;
  left: 10px;
  background: #194764;
  border: 1px solid #fff;
  font-size: 28px;
  height: 40px;
  width: 40px;
  z-index: 21;
  outline: none;
  display: none;
  color: #fff; }

#mobile-nav:before {
  margin-top: -14px; }

/* nav */
#mobile-nav {
  display: none; }

.nav-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }

.nav {
  position: absolute;
  top: 128px;
  left: 0;
  right: 0;
  height: 102px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  padding-right: 72px; }

nav > ul {
  display: table;
  width: 100%; }

nav > ul > li {
  display: table-cell; }

nav > ul > li > a {
  display: block;
  text-align: center;
  padding: 60px 20px 0;
  height: 102px;
  color: #000;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }

nav ul li > div {
  display: none;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  z-index: 1; }

nav li:hover > div {
  display: block; }

nav ul li > div:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  background: #194764;
  content: "";
  z-index: 1; }

.nav .top {
  position: absolute;
  top: -96px;
  right: 0;
  text-align: center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.meta-nav .toggle-search-form {
  display: none; }

.meta-nav {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #082231;
  overflow: hidden; }

.meta-nav a {
  color: #fff;
  line-height: 1;
  padding: 8px;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  float: left;
  cursor: pointer; }

.meta-nav a:hover {
  background-color: #082231;
  background-color: rgba(8, 34, 49, 0.5); }

.nav .top .social {
  display: inline-block; }

#toggle-search {
  position: absolute;
  right: 0;
  height: 102px;
  top: 0;
  width: 72px;
  display: block;
  text-indent: -999em; }

#toggle-search:before {
  font-size: 18px; }

nav > ul > li > a,
#toggle-search {
  border-left: 1px solid #c2c5c2;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

nav {
  border-right: 1px solid #c2c5c2;
  border-color: rgba(0, 0, 0, 0.2); }

nav > ul > li:hover > a,
#toggle-search:hover {
  background: #fcfbfa; }

nav ul ul {
  float: left;
  width: 160px;
  position: relative;
  z-index: 2; }

nav .link-meta .title {
  display: block;
  font-size: 18px;
  color: #194764; }

nav .link-meta .button {
  float: right; }

nav .link-meta {
  margin-left: 180px;
  padding: 20px;
  text-transform: none;
  min-height: 200px; }

nav .link-meta .title {
  margin: 0 0 10px; }

nav .link-meta > div {
  display: none; }

nav .link-meta > div.active {
  display: block; }

nav .meta {
  overflow: hidden;
  margin-right: 270px; }

nav .img {
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  filter: alpha(opacity=0); }

nav .img.loaded {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: opacity 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); }

nav ul ul {
  padding: 20px 0; }

nav ul ul a {
  display: block;
  padding: 6px 6px 6px 12px;
  color: #fff;
  position: relative;
  text-transform: uppercase; }

nav ul ul a:after {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  width: 20px;
  background: url(../images/highlight-triangle.png) right center no-repeat;
  content: "";
  display: none; }

nav ul ul .selected a,
nav ul ul a:hover {
  background: #286890; }

nav ul ul .selected a:after,
nav ul ul a:hover:after {
  display: block; }

/* footer */
footer {
  background: url(../images/header-bg.png);
  color: #fff; }

footer .logo {
  width: 105px;
  display: block;
  margin: 0 0 60px; }

footer .logo img {
  width: 100%; }

.footer-wrap {
  margin-right: 220px; }

.footer-contact {
  font-size: 12px;
  color: #dcddde;
  float: right;
  padding: 30px 0 20px 60px;
  width: 220px; }

.footer-contact address {
  margin-bottom: 20px; }

.footer-contact a {
  color: #dcddde;
  text-decoration: underline; }

.footer-contact a:hover {
  text-decoration: none; }

.footer-contact .phones {
  margin-bottom: 10px; }

.footer a {
  color: #fff; }

.footer-nav {
  position: relative;
  margin-bottom: 100px; }

.footer-nav > ul {
  display: table;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center; }

.footer-nav > ul > li {
  display: table-cell;
  border-style: solid;
  border-width: 0 1px 0 0;
  vertical-align: middle;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.4); }

.footer-nav > ul > li > a {
  color: #fff;
  padding: 50px 15px 15px;
  display: block;
  -webkit-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.footer-nav > ul > li > a:hover {
  background-color: #082231;
  background-color: rgba(8, 34, 49, 0.5); }

.footer-hotels {
  position: relative; }

.footer-hotels ul {
  display: table;
  width: 100%; }

.footer-hotels li {
  display: table-cell;
  max-width: 100px; }

.footer-hotels li a {
  display: block;
  padding: 0 10px;
  vertical-align: top;
  height: 50px; }

.footer-hotels span {
  display: block;
  font-size: 10px;
  color: #dcddde;
  text-transform: uppercase; }

#jac {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  width: 186px;
  padding: 25px 0 0;
  background: url(../images/jac-we-create.png) 0 0 no-repeat;
  background-size: 186px 50px;
  z-index: 10;
  -webkit-transition: background cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s;
  -moz-transition: background cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s;
  transition: background cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s; }

#jac:hover {
  background-position: 0 bottom; }

.twox #jac {
  background-image: url(../images/jac-we-create@2x.png); }

.threex #jac {
  background-image: url(../images/jac-we-create@3x.png); }

.copyright {
  position: relative;
  border-top: 1px solid;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
  cursor: default;
  margin-top: 10px;
  clear: both;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.4); }

.copyright .social {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -10px; }

.copyright a {
  color: #fff;
  -webkit-transition: color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.copyright a:hover {
  color: #dadada; }

.copyright ul {
  position: relative;
  z-index: 10;
  display: inline-block; }

.copyright li {
  display: inline-block;
  border-left: 1px solid #fff;
  margin-right: -0.25em;
  margin-left: 5px;
  padding-left: 5px;
  line-height: 1; }

.copyright li:first-child {
  margin-left: 0;
  padding: 0;
  border: none; }

/* Theme */
/* headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: normal;
  margin: 5px 0;
  font-family: Open Sans, helvetica, arial, sans-serif; }

.hgroup {
  margin: 0 0 30px; }

.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup span {
  margin: 0; }

h1, .h1-style,
h2, .h2-style,
h3, .h3-style,
h4, .h4-style,
h5, .h5-style,
h6, .h6-style {
  display: block;
  font-family: Open Sans, helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300; }

.h1-style,
.page-title,
h1 {
  font-size: 28px; }

.h2-style,
h2 {
  font-size: 24px; }

.h3-style,
h3 {
  font-size: 20px; }

.h4-style,
h4 {
  font-size: 18px; }

.h5-style,
h5 {
  font-size: 16px; }

.h6-style,
h6 {
  font-size: 14px; }

.section-header {
  margin: 0 auto 20px;
  display: block;
  max-width: 500px;
  text-align: center; }

.hgroup .title,
.section-header .title {
  color: #194764; }

.hgroup .subtitle,
.section-header .subtitle {
  color: #939598 !important; }

.dark-bg .hgroup .title,
.dark-bg .section-header .title {
  color: #fff; }

.blocks .hgroup {
  margin: 0; }

/* buttons */
/* remove default button styling */
button {
  background: transparent;
  border: none; }

.button {
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer; }

.button.with-ico:before {
  margin-right: 5px; }

.button.sm {
  border-width: 1px;
  font-size: 10px; }

.article-head .button.sm {
  padding: 2px 4px; }

.button.dark-fill {
  background: #286890;
  color: #fff; }

.button.dark-fill.selected,
.button.dark-fill:hover {
  color: #fff;
  border-color: #194764;
  background: #194764; }

.button.dark-fill.reverse {
  background: #194764;
  border-color: #143950; }

.button.dark-fill.reverse.selected,
.button.dark-fill.reverse:hover {
  background: #286890; }

.button {
  border: 2px solid #194764;
  color: #194764;
  background: transparent; }

.dark-bg .button,
.button.dark-bg {
  color: #fff;
  border-color: #fff; }

a:hover .button,
.button.selected,
.button.hover,
.button:hover {
  color: #fff;
  border-color: #286890;
  background: #286890; }

.button[disabled=disabled],
.button.disabled {
  color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
  background: transparent !important; }

/* gmap */
.gmap {
  height: 340px;
  overflow: hidden;
  position: relative;
  background: #000;
  margin: 20px 0; }

.gmap img {
  max-width: inherit; }

.gmap > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.gmap > div.loaded {
  opacity: 1;
  filter: alpha(opacity=100); }

/* main body */
.main-body {
  padding: 0 0 20px; }

.main-body.with-sidebar {
  margin-right: -320px;
  float: left;
  width: 100%;
  padding-right: 40px; }

.main-body.with-sidebar > div {
  margin-right: 320px; }

.main-body.with-sidebar + .sidebar {
  float: left;
  width: 320px;
  padding: 0 0 20px 0;
  color: #fff;
  font-family: Open Sans, helvetica, arial, sans-serif;
  color: #1f1f1f; }

.light, .article-body h1,
.article-body .h1-style, .article-body h2,
.article-body .h2-style, .article-body h3,
.article-body .h3-style, .article-body h4,
.article-body .h4-style, .article-body h5,
.article-body .h5-style, .article-body h6,
.article-body .h6-style {
  color: #194764; }

.article-body h1 + ul,
.article-body h1 + ol {
  margin-top: 0; }

.dark-bg h1,
.dark-bg .h1-style {
  color: #fff; }

.article-body h2 + ul,
.article-body h2 + ol {
  margin-top: 0; }

.dark-bg h2,
.dark-bg .h2-style {
  color: #fff; }

.article-body h3 + ul,
.article-body h3 + ol {
  margin-top: 0; }

.dark-bg h3,
.dark-bg .h3-style {
  color: #fff; }

.article-body h4 + ul,
.article-body h4 + ol {
  margin-top: 0; }

.dark-bg h4,
.dark-bg .h4-style {
  color: #fff; }

.article-body h5 + ul,
.article-body h5 + ol {
  margin-top: 0; }

.dark-bg h5,
.dark-bg .h5-style {
  color: #fff; }

.article-body h6 + ul,
.article-body h6 + ol {
  margin-top: 0; }

.dark-bg h6,
.dark-bg .h6-style {
  color: #fff; }

.article-body {
  font-family: Open Sans, helvetica, arial, sans-serif;
  color: #1f1f1f;
  font-size: 13px; }

.article-body .excerpt,
.article-body blockquote {
  color: #194764;
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  margin-bottom: 15px; }

.article-head {
  display: block;
  padding: 9px 0;
  margin-bottom: 18px;
  border-bottom: 1px solid #939598;
  font-size: 14px;
  overflow: hidden;
  text-transform: uppercase;
  color: #939598; }

.article-head time.fa-calendar:before {
  color: #939598;
  margin-right: 5px; }

.article-head .meta,
.article-head .meta:before {
  margin-right: 4px; }

.article-head.dark-bg {
  background: #000;
  color: #fff; }

.article-head .price,
.article-head .tag {
  float: right;
  background: #194764;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 6px;
  color: #fff; }

.blocks .article-head .tag {
  font-size: 11px; }

.article-head .price {
  font-size: 18px;
  font-weight: normal; }

.blocks .article-head .price {
  font-size: 12px; }

.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #194764;
  white-space: nowrap;
  font-weight: bold; }

.article-body a.inline:after,
.article-body span a:after,
.article-body p a:after,
.article-body li a:after,
.article-body blockquote a:after {
  content: "";
  position: absolute;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  background: #194764;
  z-index: -1;
  border-radius: 4px;
  display: none; }

.article-body a.inline.hover:after,
.article-body span a.hover:after,
.article-body p a.hover:after,
.article-body li a.hover:after,
.article-body blockquote a.hover:after,
.article-body a.inline:hover:after,
.article-body span a:hover:after,
.article-body p a:hover:after,
.article-body li a:hover:after,
.article-body blockquote a:hover:after {
  display: block; }

.article-body a.inline.visited,
.article-body span a.visited,
.article-body p a.visited,
.article-body li a.visited,
.article-body blockquote a.visited,
.article-body a.inline:visited,
.article-body span a:visited,
.article-body p a:visited,
.article-body li a:visited,
.article-body blockquote a:visited {
  color: #3385b8; }

.article-body a.inline.hover,
.article-body span a.hover,
.article-body p a.hover,
.article-body li a.hover,
.article-body blockquote a.hover,
.article-body a.inline:hover,
.article-body span a:hover,
.article-body p a:hover,
.article-body li a:hover,
.article-body blockquote a:hover {
  color: #fff; }

.article-body ul,
.article-body ol {
  margin: 25px 0; }

.article-body li ul,
.article-body li ol {
  margin: 5px 0; }

.article-body li {
  position: relative;
  margin: 0 0 7px;
  color: #1f1f1f;
  line-height: 1.6; }

.article-body ul > li {
  padding-left: 18px; }

.article-body ul > li:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #000;
  display: block;
  position: absolute;
  right: auto;
  left: 0;
  top: 4px;
  margin-top: 4px; }

.article-body ul > li > ul > li:before {
  background: #a1a1a1; }

.article-body ol {
  counter-reset: li;
  padding-left: 10px; }

.article-body ol > li {
  list-style-type: none;
  padding-left: 10px; }

.article-body ol > li:before {
  position: absolute;
  left: -10px;
  top: 0;
  content: counter(li);
  counter-increment: li;
  color: #194764;
  font-weight: bold; }

.article-body ol ol > li:before {
  content: counter(li,lower-alpha);
  color: #918175; }

.article-body p {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 1.6; }

.article-body p + ul,
.article-body p + ol {
  margin-top: 0; }

.sidebar hr,
.article-body hr {
  margin: 24px 0;
  border: solid #ccc;
  border-width: 1px 0 0;
  clear: both; }

.sidebar > div {
  margin: 0 0 20px; }

.sidebar .side-nav .button {
  font-size: 14px;
  border-width: 1px;
  text-transform: none; }

.sidebar .side-nav .button + .button {
  margin-top: -1px; }

.sidebar .button.large {
  font-size: 14px;
  padding: 14px 8px;
  text-align: center; }

.sidebar .button.full {
  display: block; }

.sidebar .head {
  padding: 12px;
  background: #194764; }

.sidebar .single-form input {
  font-size: 14px;
  padding: 10px;
  line-height: 1; }
  .sidebar .single-form input::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px; }
  .sidebar .single-form input::-moz-placeholder {
    font-style: italic;
    font-size: 14px; }
  .sidebar .single-form input:-moz-placeholder {
    font-style: italic;
    font-size: 14px; }
  .sidebar .single-form input:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px; }

.sidebar .single-form button {
  opacity: 0.4;
  filter: alpha(opacity=40); }

.sidebar .single-form button:hover,
.sidebar .single-form input:focus + button {
  opacity: 1;
  filter: alpha(opacity=100); }

.breadcrumbs {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  text-transform: uppercase; }

.breadcrumbs a {
  text-decoration: none;
  color: #939598; }

.breadcrumbs a:hover {
  color: #000; }

.breadcrumbs a + a:before {
  content: "\00BB";
  display: inline-block;
  color: #939598 !important;
  line-height: 1;
  font-size: 22px;
  vertical-align: baseline;
  margin: 0 3px; }

.breadcrumbs a:first-child {
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 20px;
  line-height: 1;
  width: 22px;
  height: 22px;
  vertical-align: middle; }

.breadcrumbs a:first-child:before {
  margin-top: -11px; }

.breadcrumbs a:first-child:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.event-map {
  display: none; }

.event-map.visible {
  display: block; }

/* form stuff */
.single-form {
  position: relative;
  padding-right: 30px;
  background: #fff;
  max-width: 100%;
  border: 1px solid #e7e7e7;
  overflow: hidden; }

.single-form input {
  border: none;
  background: transparent;
  width: 100%;
  padding: 8px;
  position: relative;
  z-index: 4; }

.single-form button {
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 30px; }

.single-form button.sprite {
  top: 50%;
  margin-top: -12px;
  border: none;
  background-color: transparent;
  z-index: 5;
  bottom: auto; }

.single-form button.sprite-after:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block; }

.body-form .field-wrap {
  display: block;
  background: #fff;
  border: 1px solid #dadada;
  margin: 0 0 5px; }

.body-form .field-wrap.sprite-before:before {
  margin-left: 5px;
  margin-right: 0; }

.body-form .field-wrap input,
.body-form .field-wrap textarea {
  border: none !important; }

.body-form .field-wrap.sprite-before {
  padding-left: 30px; }

.body-form {
  max-width: 600px; }

.body-form.full {
  max-width: none; }

.body-form input[type=text],
.body-form input[type=email],
.body-form input[type=password],
.body-form input[type=tel],
.body-form select,
.body-form textarea {
  font-size: 14px;
  color: #000;
  padding: 10px;
  width: 100%;
  display: block;
  margin: 0 0 5px;
  border: 1px solid #dadada;
  font-family: arial,helvetica,sans-serif;
  background: #fff;
  -webkit-transition: background cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s;
  -moz-transition: background cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s;
  transition: background cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s; }
  .body-form input[type=text]::-webkit-input-placeholder,
  .body-form input[type=email]::-webkit-input-placeholder,
  .body-form input[type=password]::-webkit-input-placeholder,
  .body-form input[type=tel]::-webkit-input-placeholder,
  .body-form select::-webkit-input-placeholder,
  .body-form textarea::-webkit-input-placeholder {
    color: #939393; }
  .body-form input[type=text]::-moz-placeholder,
  .body-form input[type=email]::-moz-placeholder,
  .body-form input[type=password]::-moz-placeholder,
  .body-form input[type=tel]::-moz-placeholder,
  .body-form select::-moz-placeholder,
  .body-form textarea::-moz-placeholder {
    color: #939393; }
  .body-form input[type=text]:-moz-placeholder,
  .body-form input[type=email]:-moz-placeholder,
  .body-form input[type=password]:-moz-placeholder,
  .body-form input[type=tel]:-moz-placeholder,
  .body-form select:-moz-placeholder,
  .body-form textarea:-moz-placeholder {
    color: #939393; }
  .body-form input[type=text]:-ms-input-placeholder,
  .body-form input[type=email]:-ms-input-placeholder,
  .body-form input[type=password]:-ms-input-placeholder,
  .body-form input[type=tel]:-ms-input-placeholder,
  .body-form select:-ms-input-placeholder,
  .body-form textarea:-ms-input-placeholder {
    color: #939393; }

.body-form textarea {
  height: 126px; }

.body-form input[type=text]:focus,
.body-form input[type=email]:focus,
.body-form input[type=password]:focus,
.body-form input[type=tel]:focus,
.body-form textarea:focus {
  background: #fff; }

/* accordion colors */
/* standard accordion */
.accordion.separated .accordion-item {
  margin-bottom: 15px; }

.accordion-item {
  margin: 0; }

.accordion-item-handle {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 12px 44px 12px 12px;
  color: #000;
  background: #e9e9e9;
  border: 1px solid #f2f2f2;
  margin: -1px -1px 0;
  font-size: 13px; }

.accordion-item-handle.lg {
  font-size: 20px; }

.accordion-item-handle:before {
  font-size: 16px;
  position: absolute;
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background: #a3a3a3;
  text-align: center;
  left: auto;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  -moz-transition: -moz-transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }

.expanded > .accordion-item-handle:before {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg); }

.no-csstransforms .expanded > .accordion-item-handle:before {
  /* sprite arrow */ }

.accordion-item-handle:hover,
.expanded > .accordion-item-handle {
  background: #e9e9e9;
  color: #000; }

.accordion-item-handle > div {
  padding: 3px 10px; }

.accordion-item-content {
  display: none;
  padding: 10px;
  border: solid #ccc;
  margin: -2px 0 0;
  border-width: 0 1px 1px;
  background: #fff; }

.ie8 .accordion-item-content {
  display: none !important; }

.ie8 .expanded > .accordion-item-content {
  display: block !important; }

.start-expanded > .accordion-item-content {
  display: block; }

.accordion-content-item p {
  border: none !important; }

.accordion-item-content ol,
.accordion-item-content ul {
  margin: -10px;
  padding: 5px 0;
  font-size: 13px; }

.accordion-item-content ul li a {
  display: block;
  color: #000;
  padding: 5px 12px; }

.accordion-item-content ul li a:hover {
  background: #efefef; }

/* selectors */
.selector {
  position: relative;
  margin: 0 0 10px;
  cursor: pointer;
  padding-right: 30px;
  display: inline-block;
  background: #fff; }

.selector.fa:before {
  right: 10px;
  margin-top: -9px;
  left: auto;
  pointer-events: none;
  top: 50%;
  opacity: 0.5;
  left: auto;
  font-size: 18px;
  line-height: 1; }

.selector.with-arrow:after {
  margin-top: -4px; }

.selector .value {
  display: block;
  padding: 9px 14px 8px;
  color: #939598;
  line-height: 1;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 14px;
  text-indent: 0; }

.selector select:focus + .value,
.selector:hover .value {
  color: #000; }

.selector:hover:before {
  opacity: 1; }

.selector select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  cursor: pointer;
  z-index: 10; }

.ie8 .selector select {
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0); }

/* responsive video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto 1em; }

.video-container iframe,
.video-container object,
.video-container embed,
.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-container img {
  height: auto; }

.social .fa {
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: top;
  cursor: pointer; }

.social .fa:before {
  font-size: 16px;
  position: absolute;
  text-indent: 0;
  text-align: center;
  top: 0;
  line-height: 20px;
  left: 0;
  right: 0;
  margin: 0; }

.dark-bg .social .fa {
  color: #fff; }

.social .fa:hover,
.hovered .social .fa {
  color: #286890; }

.social .fa {
  color: #194764; }

.nav .social .fa,
footer .social .fa {
  color: #ccc; }

.nav .social .fa:hover,
footer .social .fa:hover {
  color: #fff; }

/* hero */
.page-wrapper {
  border: 1px solid transparent; }

.hero .item {
  display: block; }

.hero {
  background-color: #000;
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 128px; }

.hero .swiper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap > div,
.hero .item {
  height: 100%; }

.hero.single .swipe-wrap > div {
  float: none; }

.hero .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  -moz-transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s; }

.hero .swipe,
.hero .item {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  -moz-transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  transition: opacity cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s; }

.hero .swipe {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.hero.loaded .swipe,
.hero .loaded > .item {
  opacity: 1;
  filter: alpha(opacity=100); }

.hero .caption {
  position: absolute;
  padding: 30px 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 2px;
  text-transform: uppercase;
  z-index: 2;
  background: #194764;
  background: rgba(25, 71, 100, 0.85);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.hero .title {
  display: block;
  font-size: 23px;
  color: #fff; }

.hero .sub {
  display: block;
  font-size: 19px;
  color: #939598; }

.home .hero .caption .button {
  display: none; }

/* links and controls */
.hero .slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 125px;
  border-spacing: 4px;
  z-index: 10; }

.hero .slider-controls div {
  display: table;
  margin: 0 auto;
  width: 450px;
  max-width: 100%; }

.hero .slider-controls a {
  display: table-cell;
  cursor: pointer;
  text-indent: -999em;
  overflow: hidden;
  font-size: 0;
  height: 14px;
  background: #404041;
  opacity: 0.6;
  filter: alpha(opacity=60); }

.hero .slider-controls a.selected,
.hero .slider-controls a:hover {
  background: #e6e7e8; }

/* because anything taller is just silly */
body .hero {
  max-height: 700px; }

body.home .hero {
  max-height: 900px; }

@media screen and (min-width: 1000px) {
  body.home .hero {
    min-height: 750px; } }
.ie8 body.home .hero {
  min-height: 750px; }

/* colors */
.date-input,
.date.input {
  position: relative; }

.date-input input[type=date],
.date.input input[type=date] {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  z-index: 2;
  display: block;
  min-height: 32px; }

.date-input span.input-label,
.date.input span.input-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  z-index: 1; }

.date-input.sprite-before span.input-label,
.date.input.sprite-before span.input-label {
  left: 30px; }

.hasdate.date-input input,
.hasdate.date.input input,
.date-input:hover input[type=date],
.date.input:hover input[type=date] {
  opacity: 1;
  filter: alpha(opacity=100); }

.hasdate.date-input span.input-label,
.hasdate.date.input span.input-label,
.date-input:hover span.input-label,
.date.input:hover span.input-label {
  opacity: 0;
  filter: alpha(opacity=0); }

.date.input,
.date-input {
  display: block;
  background: #fff;
  color: #1f1f1f;
  position: relative;
  padding-left: 23px; }

.date.input:after,
.date-input:after {
  position: absolute;
  left: 4px;
  top: 3px;
  color: transparent;
  font-size: 18px; }

.date.input input,
.date-input input {
  border: none;
  background: none;
  padding: 8px;
  width: 100%; }

.tab-holder,
.tab-controls,
.tab-wrapper {
  position: relative; }

.tab-holder .tab {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1; }

.tab-holder .tab.selected {
  position: static;
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1; }

.tab-holder {
  overflow: hidden; }

.tab-controls {
  z-index: 2; }

.tab-holder {
  z-index: 1; }

/* fa defaults */
.fa {
  font-family: Open Sans, helvetica, arial, sans-serif; }

.fa:before {
  font-family: FontAwesome; }

.fa-abs {
  position: relative;
  text-indent: -999em;
  overflow: hidden; }

.fa-abs:before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  text-indent: 0;
  line-height: 1;
  margin-top: -7px; }

.phones {
  width: 150px; }

.logo-wrap {
  padding: 25px;
  margin: 0 0 15px;
  border: 1px solid #fff; }

.logo-wrap img {
  width: 100%; }

.split-screen {
  background: #fff center center repeat-y;
  padding: 20px 0; }

.split-screen.with-border {
  border: solid #e5e5e5;
  border-width: 1px 0;
  position: relative; }

.split-screen.with-border:after {
  position: absolute;
  left: 50%;
  border-left: 1px solid #e5e5e5;
  content: "";
  top: 0;
  bottom: 0; }

.split-screen.dark-right {
  background-image: url(../images/split-screen-dark-right.png); }

.split-screen.dark-left {
  background-image: url(../images/split-screen-dark-left.png); }

.split-screen-grid > .col-2 + .col-2 > div {
  padding-left: 20px; }

/* arrow buttons */
.arrow-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  background: #194764; }

.arrow-button:before {
  font-size: 28px;
  margin-top: -14px;
  line-height: 1; }

.arrow-button:hover,
.arrow-button.hovered {
  background: #286890; }

.arrow-button.disabled {
  background: #939598 !important; }

.dark-bg .arrow-button {
  color: #194764;
  background: #fff; }

.dark-bg .arrow-button:hover,
.dark-bg .arrow-button.hovered {
  background: #286890; }

.dark-bg .arrow-button.disabled {
  background: #143950 !important; }

/* datepicker theme-sepcific */
.datepickerDays .actualDatepickerSelected,
.datepickerDays .linkedDate {
  background: #286890; }

.phones .block {
  position: relative;
  display: block;
  text-align: right; }

.phones .block span {
  position: absolute;
  top: 0;
  left: 0; }

/* custom input */
.custom-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #fff; }

.custom-input span {
  display: inline-block; }

.custom-input input {
  position: absolute;
  left: -100px;
  top: -100px; }

.custom-input input[type=radio]:focus + span {
  outline: 1px solid rgba(76, 114, 239, 0.4); }

.custom-input input[type=radio] + span:before {
  margin: 0 4px; }

/* reservation form */
#mobile-book {
  display: none; }

.reservations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }

.reservations form {
  position: absolute;
  top: 228px;
  left: 0;
  width: 280px;
  padding: 15px;
  color: #939598;
  text-transform: uppercase;
  font-size: 12px;
  background: #194764;
  background: rgba(25, 71, 100, 0.85); }

.reservations .date.input {
  font-family: Open Sans, helvetica, arial, sans-serif;
  text-indent: 0; }

.reservations .date.input span.input-label {
  line-height: 1.6;
  left: 30px; }

.reservations .date.input:before {
  right: auto;
  font-family: FontAwesome;
  color: #95979a;
  font-size: 18px;
  line-height: 1;
  margin-top: -9px;
  left: 10px; }

.reservations .datepicker.appended {
  left: 100% !important;
  right: auto !important;
  margin-left: -50px !important;
  top: -10px !important;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.reservations fieldset .col, .reservations fieldset .gallery-thumb {
  position: relative; }

.reservations.calendar-focused .fields-wrap {
  overflow: visible; }

.reservations .add-room {
  cursor: pointer;
  color: #fff;
  margin-left: 5px; }

.reservations .add-room:before {
  margin-right: 5px; }

.reservations .h6-style {
  color: #fff;
  margin-bottom: 5px; }

.reservations input::-webkit-input-placeholder {
  text-transform: uppercase; }
.reservations input::-moz-placeholder {
  text-transform: uppercase; }
.reservations input:-moz-placeholder {
  text-transform: uppercase; }
.reservations input:-ms-input-placeholder {
  text-transform: uppercase; }

.reservations .date.sprite-before:before {
  right: auto;
  left: 8px; }

.reservations fieldset {
  position: relative;
  padding-bottom: 14px; }

.reservations fieldset:before {
  content: "";
  left: 5px;
  right: 0;
  border-bottom: 1px solid #807e7e;
  position: absolute;
  bottom: 9px; }

.reservations .selector {
  display: block;
  margin-bottom: 0; }

.reservations .selector .value {
  font-size: 12px;
  padding: 9px; }

.reservations label {
  text-transform: uppercase; }

.touch .reservations .custom-input,
.reservations .rate-type .selector,
.reservations .room-type .selector {
  display: none; }

.touch .reservations .rate-type .selector,
.touch .reservations .room-type .selector {
  display: block;
  margin-bottom: 5px; }

.home .reservations .toggle {
  display: none; }

.reservations .toggle {
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: -15px;
  position: relative; }

.reservations .toggle:before {
  position: absolute;
  top: 50%;
  font-size: 24px;
  line-height: 1;
  margin-top: -12px;
  right: 40px; }

.reservations.expanded .toggle:before {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg); }

.reservations .toggle:before {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  -moz-transition: -moz-transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s; }

.reservations .toggle:hover {
  color: #3385b8; }

.reservations .custom-input {
  margin-right: 5px; }

.reservations .fields-wrap {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: max-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: max-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.reservations.expanded .fields-wrap {
  max-height: 600px; }

.reservations .button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  border-width: 0;
  margin-bottom: 15px;
  color: #fff;
  background-color: #194764;
  background-image: -webkit-linear-gradient(top, #194764, #143950);
  background-image: linear-gradient(to bottom,#194764, #143950); }

.reservations .button:hover {
  color: #286890; }

/* search */
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.show-search body {
  overflow: hidden; }

.show-search .search-overlay {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.search-overlay form {
  padding: 20px 50px 20px 20px;
  position: relative;
  background: #f2f2f2; }

.search-overlay .loader {
  background: #f2f2f2;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 99;
  margin-top: -19px;
  width: 32px;
  height: 32px;
  opacity: 0;
  filter: alpha(opacity=0); }

.search-overlay .loader,
.search-overlay .close {
  -webkit-transition: opacity 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: opacity 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.search-overlay .close {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  top: 50%;
  margin-top: -16px;
  right: 20px;
  opacity: 0.5;
  z-index: 100;
  cursor: pointer; }

.search-overlay.is-loading .loader:before,
.search-overlay .close:before {
  font-size: 32px;
  line-height: 1;
  margin-top: -16px;
  color: #000; }

.search-overlay .close:hover {
  opacity: 1; }

.search-overlay.is-loading .loader {
  opacity: 1;
  filter: alpha(opacity=100); }

.search-overlay.is-loading .close {
  opacity: 0;
  filter: alpha(opacity=0); }

.no-csstransforms3d .search-overlay .loader:before {
  display: none !important; }

.csstransforms3d .search-overlay .loader img {
  display: none; }

.csstransforms3d .search-overlay .loader {
  -webkit-animation: spinner 1000ms linear infinite;
  -moz-animation: spinner 1000ms linear infinite;
  animation: spinner 1000ms linear infinite; }

.no-csstransforms3d .search-overlay {
  display: none; }

.no-csstransforms3d.show-search .search-overlay {
  display: block; }

.show-search .search-overlay.no-results form {
  top: 50%;
  margin-top: -40px; }

.search-overlay form {
  top: 0;
  margin-top: -100px;
  -webkit-transition: none 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -moz-transition: none 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: none 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition-property: top, margin;
  -moz-transition-property: top, margin;
  transition-property: top, margin; }

.show-search .search-overlay form {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  transition-delay: 0.25s; }

.search-overlay.with-results form {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  transition-property: none; }

.search-overlay.with-results,
.show-search .search-overlay {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

.show-search .search-overlay.with-results form {
  top: 0;
  margin-top: 0; }

.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/search-overlay-bg.png);
  z-index: -1;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  -moz-transition: -moz-transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s; }

.show-search .search-overlay {
  z-index: 999;
  visibility: visible; }

.search-overlay .search-content {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  position: relative;
  height: 100%;
  max-width: 90%;
  overflow: hidden; }

.search-overlay .search-content input {
  width: 100%;
  border: none;
  background: #f2f2f2;
  color: #000;
  font-size: 34px;
  outline: none;
  font-family: Open Sans, helvetica, arial, sans-serif; }
  .search-overlay .search-content input::-webkit-input-placeholder {
    color: #000;
    font-size: 34px;
    font-family: Open Sans, helvetica, arial, sans-serif; }
  .search-overlay .search-content input::-moz-placeholder {
    color: #000;
    font-size: 34px;
    font-family: Open Sans, helvetica, arial, sans-serif; }
  .search-overlay .search-content input:-moz-placeholder {
    color: #000;
    font-size: 34px;
    font-family: Open Sans, helvetica, arial, sans-serif; }
  .search-overlay .search-content input:-ms-input-placeholder {
    color: #000;
    font-size: 34px;
    font-family: Open Sans, helvetica, arial, sans-serif; }

.search-overlay.with-results .search-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -350px;
  height: 700px;
  max-height: 100%; }

.ie8 .search-overlay.with-results .search-content {
  margin-top: 0;
  top: 0;
  height: 100%; }

.no-results.search-overlay .search-content {
  background: none; }

.no-results .search-results {
  display: none; }

.search-results .results-query {
  background: #286890;
  padding: 8px 20px;
  color: #fff; }

.search-results {
  position: absolute;
  top: 86px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2; }

.search-results .results-list .tab-wrapper {
  height: 100%;
  position: relative; }

.search-results .results {
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.search-results .tab-control-wrap {
  display: table;
  width: 100%; }

.search-results .tab-control {
  display: table-cell;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  background: #e5e5e5;
  line-height: 40px;
  padding: 10px;
  text-align: center;
  border-left: 1px solid #e0e0e0; }

.search-results .tab-control span {
  display: inline-block;
  background: #286890;
  margin-right: 10px;
  color: #fff;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%; }

.search-results .tab-control:first-child {
  border: none; }

.search-results .tab-control.selected {
  background: #f2f2f2; }

.search-results .tab-wrapper {
  position: static; }

.search-results .results-types .selector {
  display: none;
  background: #194764;
  color: #fff;
  border: solid #fff;
  border-width: 1px 0; }

.search-results .results-types .selector .value {
  color: #fff;
  padding: 23px; }

.search-results .result {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: background 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: background 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.search-results .result-img {
  float: left;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.search-results .result-img + .article-body {
  overflow: hidden; }

.search-results .article-body {
  padding: 20px 20px 0; }

.search-results .result:hover {
  background: #e5e5e5; }

/* hotel overview */
.ov-hotel {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-align: center;
  overflow: hidden; }

.ov-hotel img {
  display: block;
  margin: 0 auto 16px;
  max-width: 180px; }

.ov-hotel > div {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px; }

.ov-hotel p {
  margin: 0 0 16px;
  font-size: 14px; }

.ov-hotel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; }

.ov-hotel:hover .button {
  background-color: #000; }

/* callout */
.callout-wrap {
  max-width: 320px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  display: block; }

.callout {
  background: center no-repeat;
  background-size: cover; }

.callout .content {
  padding: 20px;
  color: #fff; }

.callout .content .title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2; }

.callout .content .subtitle {
  text-transform: uppercase;
  font-size: 18px; }

.callout .content .button.full {
  left: 20px;
  bottom: 20px;
  position: absolute;
  text-align: center; }

.callout.fixedh {
  height: 0;
  overflow: hidden; }

.callout.fixedh .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.callout.fixedh-625 {
  padding: 62.5% 0 0; }

.callout form {
  padding: 20px 0; }

.callout .phone {
  text-align: center;
  padding: 10px;
  display: block;
  margin: 0 -20px -20px;
  background: #194764;
  background: rgba(25, 71, 100, 0.7); }

/* filter section */
.filter-bar {
  padding: 5px 0;
  background: #194764; }

.filter-bar .title {
  line-height: 40px; }

.filter-bar .title .cat {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  padding-right: 5px;
  border-right: 1px solid #fff;
  position: relative;
  top: -2px;
  line-height: 1; }

.filter-bar .tab-control {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 8px;
  outline: none;
  line-height: 40px; }

.filter-bar .tab-control.selected {
  font-weight: bold; }

.filter-bar .selector {
  margin: 0;
  background: #286890; }

.filter-bar .selector .value {
  font-style: italic;
  color: #fff; }

.filter-bar .selector select:focus + .value,
.filter-bar .selector:hover .value {
  color: #fff; }

.filter-bar form {
  background: #286890;
  line-height: normal;
  border: none; }

.filter-bar form input {
  color: #fff;
  line-height: 1; }
  .filter-bar form input::-webkit-input-placeholder {
    font-style: italic;
    color: #fff; }
  .filter-bar form input::-moz-placeholder {
    font-style: italic;
    color: #fff; }
  .filter-bar form input:-moz-placeholder {
    font-style: italic;
    color: #fff; }
  .filter-bar form input:-ms-input-placeholder {
    font-style: italic;
    color: #fff; }

.filter-bar form button:before {
  color: #fff; }

.filter-bar .meta {
  float: right; }

.filter-bar .meta > form,
.filter-bar .meta > div {
  display: inline-block;
  vertical-align: middle; }

.filter-bar .controls button {
  float: left;
  margin-left: 5px; }

section.filter-section {
  padding-top: 0; }

.filter-contents {
  padding: 20px 0; }

/* testimonials */
.testimonial {
  padding: 20px;
  background: #fff;
  text-align: center; }

/* accordion - theme specific */
.accordion .count {
  display: inline-block;
  background: #a3a3a3;
  vertical-align: middle;
  text-align: center;
  padding: 4px 8px 6px;
  line-height: 1;
  font-size: 12px;
  border-radius: 12px;
  color: #fff;
  position: relative;
  top: -2px;
  margin-right: 4px; }

/* gallery */
.gallery-thumb a {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 100% 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/* contact locations */
.body .contact-locations-wrap {
  padding: 0; }

.contact-locations {
  font-size: 12px;
  text-align: center; }

.contact-locations .selected,
.contact-locations .loc:hover {
  background: #e6e6e6; }

.contact-locations img {
  max-width: 100px;
  width: 100%; }

.contact-locations .rating {
  display: block;
  margin: 5px 0 10px; }

.contact-locations .loc {
  position: relative;
  height: 220px;
  padding-top: 20px;
  cursor: pointer;
  display: block;
  color: inherit; }

.contact-locations .button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center; }

.overview-block.with-img {
  min-height: 224px;
  display: block; }

.overview-block .img-wrap {
  float: left;
  width: 224px;
  border-radius: 112px;
  position: relative;
  height: 224px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.overview-block .img-wrap .img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: center no-repeat;
  background-size: cover; }

.overview-block.with-img .content {
  margin-left: 240px; }

/* photos-videos */
.pad-thumb {
  background: center no-repeat;
  background-size: cover;
  height: 0;
  overflow: hidden;
  display: block; }

.pad-thumb.landscape {
  padding: 46.875% 0 0; }

.pad-thumb.square {
  padding: 100% 0 0; }

.pad-thumb.video:before {
  opacity: 0.6;
  font-size: 32px;
  line-height: 1;
  margin-top: -16px;
  color: #fff; }

.pad-thumb.video:hover:before {
  opacity: 1; }

/* blocks */
.blocks .item {
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.blocks .item.with-title {
  margin-top: 80px;
  position: relative; }

.blocks .item.with-title > .hgroup {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0; }

.blocks .block {
  padding: 15px 15px 60px;
  position: relative;
  width: 100%;
  display: block;
  color: #000;
  overflow: hidden;
  font-size: 13px; }

.blocks .img-wrap {
  height: 0;
  overflow: hidden;
  margin: -15px -15px 10px;
  position: relative;
  height: 150px;
  text-align: center;
  line-height: 150px; }

.blocks .bubble {
  background-color: #194764;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  line-height: 1;
  vertical-align: middle; }

.blocks .bubble:before {
  color: #fff;
  font-size: 40px;
  line-height: 1;
  margin-top: -20px; }

.blocks .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.blocks .title {
  display: block;
  margin: 0 0 4px;
  color: #194764; }

.blocks .subtitle {
  margin: -4px 0 8px; }

.blocks p {
  line-height: 1.8; }

.blocks .button {
  position: absolute;
  bottom: 15px;
  left: 15px; }

.overview-block .img,
.blocks .img {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.csstransitions .overview-block:hover .img,
.csstransitions .blocks .block:hover .img {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1.25, 1.25);
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -o-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25); }

.blocks.list-view .col, .blocks.list-view .gallery-thumb {
  width: 100%;
  max-width: 100% !important; }

.blocks.list-view .item,
.no-flexbox .blocks .item {
  display: block !important;
  background: transparent; }

.blocks.list-view .block,
.no-flexbox .blocks .block {
  background: #fff;
  text-align: left;
  padding-bottom: 0;
  padding: 10px; }

.blocks.list-view .block .content .button,
.no-flexbox .blocks .block .content .button {
  position: static;
  margin: 10px 0; }

.blocks.list-view .block .img-wrap,
.no-flexbox .blocks .block .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  margin: 0;
  height: auto;
  padding: 0; }

.blocks.list-view .block .img-wrap ~ div,
.no-flexbox .blocks .block .img-wrap ~ div {
  margin-left: 270px; }

.blocks.list-view .item.with-title,
.no-flexbox .blocks .item.with-title {
  margin-top: 0; }

.blocks.list-view .item.with-title > .hgroup,
.no-flexbox .blocks .item.with-title > .hgroup {
  position: static; }

/* featured-block */
.featured-block {
  position: relative; }

.featured-block img {
  float: left;
  width: 45%;
  margin-right: 20px; }

.featured-block .hgroup {
  margin: 0 0 5px; }

.featured-block .content {
  overflow: hidden; }

.attraction-block {
  cursor: pointer; }

.attraction-block.selected,
.attraction-block:hover {
  background: #eaeaea; }

/* partner links */
.partner-wrap {
  margin: 15px 0 0 -15px; }

a.partner {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  background: #ddd center no-repeat;
  background-size: cover;
  margin: 0 0 15px 15px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.no-csstransforms3d a.partner > span {
  top: 100%; }

.no-csstransforms3d a.partner:hover > span {
  top: 0; }

a.partner > span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/search-overlay-bg.png) center repeat;
  color: #fff;
  opacity: 0;
  line-height: 120px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

a.partner:hover > span {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

a.partner > span span {
  line-height: 1; }

.reward-partners a {
  display: block;
  width: 100%; }

/* split-block */
.split-block {
  position: relative;
  overflow: hidden; }

.split-block-container .sw {
  max-width: 100%; }

.split-block .img-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  background: center no-repeat;
  background-size: cover;
  width: 50%; }

.split-block .content {
  padding: 40px 0;
  width: 50%;
  min-height: 275px;
  position: relative; }

.split-block .content .inner {
  display: inline-block;
  vertical-align: middle; }

.split-block.img-left .content {
  padding-left: 40px;
  float: right; }

.split-block.img-left .img-wrap {
  left: 0; }

.split-block.img-right .img-wrap {
  right: 0; }

.split-block.img-right .content {
  padding-right: 40px; }

.hotel-gallery {
  position: relative;
  overflow: hidden;
  margin-bottom: -20px; }

.hotel-gallery .large-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 40%;
  bottom: 20px;
  display: block;
  background: center no-repeat;
  background-size: cover; }

.hotel-gallery .square-thumbs {
  float: right;
  width: 40%; }

.hotel-gallery .square-thumbs div {
  float: left;
  padding: 0 0 20px 20px;
  width: 50%; }

.embedded-gmap {
  height: 100%;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  position: relative; }

#street-map.loading {
  background: #ccc;
  height: 150px !important; }

.embedded-gmap iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

#street-form input {
  padding: 12px; }

#directions-geolocate {
  width: 100%;
  padding: 13px;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center; }

#directions-geolocate:hover {
  background: #194764; }

.no-geolocation .geolocation-only {
  display: none !important; }

.direction-controls {
  padding: 0; }

.direction-controls .direction-button {
  line-height: 1.4; }

.directions-tabs .grid, .directions-tabs .gallery-thumbs {
  margin-top: 15px;
  margin-bottom: 15px; }

.tbl {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  display: table; }

.tbl .col-3 {
  border: none !important;
  width: 33.33333%;
  display: table-cell; }

.direction-button {
  padding: 16px 8px; }

.direction-button .fa {
  margin-right: 10px;
  font-size: 18px; }

.direction-button.dark-fill {
  background: #194764; }

.direction-button.dark-fill:hover,
.direction-button.dark-fill.selected {
  background: #286890; }

.direction-button span:before {
  margin-right: 9px; }

.no-flexbox .attraction-blocks .grid, .no-flexbox .attraction-blocks .gallery-thumbs,
.mobile-selector {
  display: none;
  background: #194764;
  color: #fff; }

.mobile-selector .value {
  color: #fff !important; }

.no-flexbox .attraction-blocks .mobile-selector {
  display: block; }

.feature-block {
  position: relative;
  padding-left: 130px;
  min-height: 110px;
  border-bottom: 1px solid transparent;
  margin-bottom: 15px; }

.feature-block .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px; }

/* Responsive */
#nav-is-responsive {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
  display: none; }

/* responsive grid */
@media screen and (max-width: 900px) {
  .no-900 {
    display: none !important; }

  .collapse-900 > .col > .item, .collapse-900 > .gallery-thumb > .item,
  .collapse-900 > .col,
  .collapse-900 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-900 > .col, .flexbox .fill.collapse-900.gallery-thumbs > .col, .flexbox .grid.fill.collapse-900 > .gallery-thumb, .flexbox .fill.collapse-900.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-900 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-900.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-900.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-900 .split-screen-grid > .col, .split-screen.collapse-900 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-900 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-900:after {
    display: none; } }
@media screen and (max-width: 850px) {
  .no-850 {
    display: none !important; }

  .collapse-850 > .col > .item, .collapse-850 > .gallery-thumb > .item,
  .collapse-850 > .col,
  .collapse-850 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-850 > .col, .flexbox .fill.collapse-850.gallery-thumbs > .col, .flexbox .grid.fill.collapse-850 > .gallery-thumb, .flexbox .fill.collapse-850.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-850 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-850.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-850.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-850 .split-screen-grid > .col, .split-screen.collapse-850 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-850 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-850:after {
    display: none; } }
@media screen and (max-width: 800px) {
  .no-800 {
    display: none !important; }

  .collapse-800 > .col > .item, .collapse-800 > .gallery-thumb > .item,
  .collapse-800 > .col,
  .collapse-800 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-800 > .col, .flexbox .fill.collapse-800.gallery-thumbs > .col, .flexbox .grid.fill.collapse-800 > .gallery-thumb, .flexbox .fill.collapse-800.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-800 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-800.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-800.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-800 .split-screen-grid > .col, .split-screen.collapse-800 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-800 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-800:after {
    display: none; } }
@media screen and (max-width: 750px) {
  .no-750 {
    display: none !important; }

  .collapse-750 > .col > .item, .collapse-750 > .gallery-thumb > .item,
  .collapse-750 > .col,
  .collapse-750 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-750 > .col, .flexbox .fill.collapse-750.gallery-thumbs > .col, .flexbox .grid.fill.collapse-750 > .gallery-thumb, .flexbox .fill.collapse-750.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-750 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-750.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-750.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-750 .split-screen-grid > .col, .split-screen.collapse-750 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-750 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-750:after {
    display: none; } }
@media screen and (max-width: 700px) {
  .no-700 {
    display: none !important; }

  .collapse-700 > .col > .item, .collapse-700 > .gallery-thumb > .item,
  .collapse-700 > .col,
  .collapse-700 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-700 > .col, .flexbox .fill.collapse-700.gallery-thumbs > .col, .flexbox .grid.fill.collapse-700 > .gallery-thumb, .flexbox .fill.collapse-700.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-700 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-700.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-700.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-700 .split-screen-grid > .col, .split-screen.collapse-700 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-700 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-700:after {
    display: none; } }
@media screen and (max-width: 650px) {
  .no-650 {
    display: none !important; }

  .collapse-650 > .col > .item, .collapse-650 > .gallery-thumb > .item,
  .collapse-650 > .col,
  .collapse-650 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-650 > .col, .flexbox .fill.collapse-650.gallery-thumbs > .col, .flexbox .grid.fill.collapse-650 > .gallery-thumb, .flexbox .fill.collapse-650.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-650 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-650.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-650.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-650 .split-screen-grid > .col, .split-screen.collapse-650 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-650 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-650:after {
    display: none; } }
@media screen and (max-width: 599px) {
  .no-599 {
    display: none !important; }

  .collapse-599 > .col > .item, .collapse-599 > .gallery-thumb > .item,
  .collapse-599 > .col,
  .collapse-599 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-599 > .col, .flexbox .fill.collapse-599.gallery-thumbs > .col, .flexbox .grid.fill.collapse-599 > .gallery-thumb, .flexbox .fill.collapse-599.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-599 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-599.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-599.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-599 .split-screen-grid > .col, .split-screen.collapse-599 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-599 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-599:after {
    display: none; } }
@media screen and (max-width: 500px) {
  .no-500 {
    display: none !important; }

  .collapse-500 > .col > .item, .collapse-500 > .gallery-thumb > .item,
  .collapse-500 > .col,
  .collapse-500 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-500 > .col, .flexbox .fill.collapse-500.gallery-thumbs > .col, .flexbox .grid.fill.collapse-500 > .gallery-thumb, .flexbox .fill.collapse-500.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-500 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-500.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-500.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-500 .split-screen-grid > .col, .split-screen.collapse-500 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-500 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-500:after {
    display: none; } }
@media screen and (max-width: 450px) {
  .no-450 {
    display: none !important; }

  .collapse-450 > .col > .item, .collapse-450 > .gallery-thumb > .item,
  .collapse-450 > .col,
  .collapse-450 > .gallery-thumb {
    width: 100% !important;
    display: block; }

  .flexbox .grid.fill.collapse-450 > .col, .flexbox .fill.collapse-450.gallery-thumbs > .col, .flexbox .grid.fill.collapse-450 > .gallery-thumb, .flexbox .fill.collapse-450.gallery-thumbs > .gallery-thumb {
    max-width: none; }

  .split-screen.collapse-450 {
    background-image: none !important;
    padding: 0; }

  .split-screen.collapse-450.dark-left .split-screen-grid > .col-2:first-child,
  .split-screen.collapse-450.dark-right .split-screen-grid > .col-2 + .col-2 {
    background: #194764; }

  .split-screen.collapse-450 .split-screen-grid > .col, .split-screen.collapse-450 .split-screen-grid > .gallery-thumb {
    padding: 20px; }

  .split-screen.collapse-450 .split-screen-grid > .col-2 > .item {
    padding: 0; }

  .split-screen.with-border.collapse-450:after {
    display: none; } }
@media screen and (max-width: 1020px) {
  .latest-media-grid > .col, .latest-media-grid > .gallery-thumb {
    width: 100%; }

  .latest-media-grid .col-3 .col-2 {
    width: 25%; }

  nav {
    padding-right: 0; }

  .nav .sw {
    max-width: 100%; }

  #toggle-search {
    display: none; }

  .meta-nav .toggle-search-form {
    display: block; } }
@media screen and (max-width: 1000px) {
  .split-block .content {
    padding: 20px !important; } }
@media screen and (max-width: 960px) {
  /* reorganize header */
  header {
    top: 0;
    height: 70px; }

  header .logo {
    right: auto;
    top: 10px;
    width: 120px; }

  .meta-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none; }

  .nav-wrap .social {
    vertical-align: middle; }

  .hero {
    margin-top: 70px; }

  /* reorganize nav */
  .nav-wrap {
    z-index: 5; }

  .nav-wrap:before {
    display: none; }

  header:before,
  #toggle-search,
  .nav {
    height: 56px; }

  #toggle-search:before {
    top: 50%;
    margin-top: -9px; }

  header:before {
    top: 70px; }

  .nav {
    top: 70px; }

  .nav .sw {
    max-width: 100%; }

  .nav .top {
    top: -50px;
    right: 10px; }

  nav ul li > div {
    top: 56px; }

  nav > ul > li > a {
    height: auto;
    padding: 20px 0; }

  nav {
    padding-left: 0; }

  /* reorganize footer */
  footer .sw {
    padding: 20px 0 0; }

  footer .footer-contact,
  footer .logo {
    position: static;
    margin: 0 auto; }

  .footer-contact {
    width: auto;
    position: relative;
    float: none;
    margin: 0;
    padding: 0 0 40px; }

  .footer-wrap {
    margin: 0; }

  .footer-nav {
    padding-right: 0;
    margin-bottom: 50px; }

  .footer-nav .social {
    position: static;
    display: block;
    margin: 40px auto; }

  .footer-nav > ul {
    table-layout: fixed; }

  .footer-nav > ul > li {
    border-width: 0 0 0 1px; }

  .footer-nav > ul > li:first-child {
    border-width: 0; }

  .footer-nav > ul > li > a {
    padding: 10px 0; } }
@media screen and (max-width: 900px) {
  .featured-block img {
    float: none;
    width: auto;
    display: block;
    margin: 0 auto 10px; }

  nav .img {
    display: none; }

  nav .meta {
    margin-right: 0; } }
@media screen and (max-width: 800px) {
  /* search results */
  .search-results .results-types .selector {
    display: block; }

  .search-results .results-types .tab-control-wrap {
    display: none; }

  /* collapsed sidebar */
  .main-body.with-sidebar {
    margin-right: 0;
    float: none;
    padding: 0 0 20px; }

  .main-body.with-sidebar > div {
    margin-right: 0; }

  .main-body.with-sidebar + .sidebar {
    float: none;
    width: auto;
    padding-right: 0; }

  .sidebar .no-collapse {
    display: none; }

  /* collapsed nav */
  html,
  body.home,
  body.home .page-wrapper,
  .hero {
    height: auto; }

  .hero {
    height: 0;
    padding: 75% 0 0;
    min-height: 0; }

  body {
    overflow-x: hidden; }

  .hero .caption {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.65); }

  .hero .caption .title {
    font-size: 18px; }

  .hero .caption .sub,
  .hero .slider-controls {
    display: none; }

  .home .hero .caption .button {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 16px; }

  header {
    border-bottom: 1px solid #fff; }

  header .sw {
    max-width: 100%; }

  header .logo {
    margin: 10px auto;
    position: static; }

  header .contact-box {
    position: static;
    text-align: center;
    margin: 15px; }

  /* reservations */
  .reservations {
    left: auto;
    bottom: 0;
    position: absolute;
    width: auto;
    z-index: 20;
    background: #194764;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

  .reservations .datepicker.appended {
    position: static !important;
    margin: 10px 0 !important; }

  .reservations .fields-wrap {
    max-height: none; }

  .reservations .sw {
    max-width: 100%;
    min-height: 100%; }

  .reservations form {
    position: static;
    float: right;
    height: 100%;
    width: 240px;
    background: transparent; }

  .reservations form .col, .reservations form .gallery-thumb {
    width: 100%; }

  .reservations .rate-type .selector,
  .reservations .room-type .selector {
    display: block;
    margin-bottom: 5px; }

  .reservations .rate-type label,
  .reservations .room-type label {
    display: none; }

  .nav-wrap {
    bottom: 0;
    right: auto;
    width: 240px; }

  .nav {
    top: 0 !important;
    border: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 240px;
    z-index: 1;
    max-width: 100%;
    margin: 0;
    border: none;
    height: 100%;
    background: #194764;
    -webkit-overflow-scrolling: touch; }

  .nav .search-area {
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    display: block !important;
    height: auto; }

  .nav .search-area > button {
    display: none; }

  .nav .search-form {
    right: 0;
    top: 0;
    width: auto;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

  .nav .top .sw {
    max-width: 100%; }

  .nav .top .sw,
  .nav .top .social {
    position: static; }

  .meta-nav {
    display: block;
    text-align: left; }

  .meta-nav a {
    float: none; }

  .nav .top .sw {
    height: auto; }

  .nav .top {
    border: none;
    position: static; }

  .nav .top > a {
    display: block;
    border-bottom: 1px solid #999; }

  .nav .top .social {
    padding: 10px 0;
    display: block; }

  .ios .nav-wrap {
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

  .ios .nav {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 105%; }

  .ios .nav,
  .ios .nav > .sw {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

  .ios .nav > .sw {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 105%; }

  nav {
    position: static !important;
    padding: 40px 0 0; }

  nav > ul,
  nav > ul > li {
    display: block;
    border: none; }

  nav ul div ul {
    float: none;
    display: inline-block;
    background: #286890;
    padding: 10px;
    width: auto; }

  nav > ul > li > a {
    color: #fff;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #999;
    line-height: 1;
    height: auto; }

  nav > ul > li:hover > a {
    background: transparent; }

  nav > ul > li > a:hover {
    background: #444; }

  nav > ul > li > div {
    position: static;
    display: block;
    border: none;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.4);
    background: #111;
    padding: 0;
    border-bottom: 1px solid #999;
    left: 0;
    right: 0;
    text-align: left; }

  nav ul div ul {
    width: auto;
    padding: 0;
    display: block; }

  nav ul div ul li {
    margin: 0;
    left: 0;
    padding: 0; }

  nav ul li > div:before,
  nav .link-meta {
    display: none; }

  #toggle-search {
    position: absolute;
    text-indent: 0;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    top: 0;
    height: 40px;
    background: #194764;
    border: none;
    display: block;
    border-bottom: 1px solid #fff;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s; }

  #toggle-search:before {
    left: auto;
    right: 15px; }

  #toggle-search:hover {
    background: #286890; }

  #mobile-book {
    display: inline-block;
    left: auto;
    right: 8px;
    margin: 0;
    border-width: 1px; }

  #mobile-nav {
    display: block; }

  .page-wrapper {
    overflow: hidden;
    position: relative;
    z-index: 20;
    background-color: #fff; }

  .transform-button,
  .page-wrapper {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045); }

  .show-reservations .nav-wrap,
  .animating-reservations .nav-wrap,
  .show-nav .reservations,
  .animating-nav .reservations {
    display: none; }

  .reservations .datepickerContainer {
    padding: 0 !important;
    border: none; }

  .reservations .datepicker .datepickerDoW th {
    font-size: 10px; }

  .show-nav,
  .show-reservations {
    overflow: hidden; }

  .reservations {
    overflow-x: hidden;
    overflow-y: auto; }

  .reservations .toggle {
    display: none !important; }

  .show-reservations .page-wrapper,
  .show-nav .page-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.8);
    z-index: 20; }

  .show-reservations .transform-button,
  .show-reservations .page-wrapper,
  .show-nav .transform-button,
  .show-nav .page-wrapper {
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: translate3d(240px, 0, 0);
    -moz-transform: translate3d(240px, 0, 0);
    -ms-transform: translate3d(240px, 0, 0);
    -o-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0); }

  .no-csstransforms3d .show-reservations .transform-button,
  .no-csstransforms3d .show-reservations .page-wrapper,
  .no-csstransforms3d .show-nav .transform-button,
  .no-csstransforms3d .show-nav .page-wrapper {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px); }

  .show-reservations .transform-button,
  .show-reservations .page-wrapper {
    -webkit-transform: translate3d(-240px, 0, 0);
    -moz-transform: translate3d(-240px, 0, 0);
    -ms-transform: translate3d(-240px, 0, 0);
    -o-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0); }

  .no-csstransforms3d .show-reservations .transform-button,
  .no-csstransforms3d .show-reservations .page-wrapper {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px); }

  .android .page-wrapper,
  .no-csstransforms .page-wrapper {
    overflow: hidden;
    position: relative;
    z-index: 20;
    left: 0;
    -webkit-transition: left 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: left 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: left 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .android .show-nav #mobile-nav,
  .no-csstransforms .show-nav #mobile-nav {
    left: 240px; }

  .android .show-reservations .page-wrapper,
  .no-csstransforms .show-reservations .page-wrapper,
  .android .show-nav .page-wrapper,
  .no-csstransforms .show-nav .page-wrapper {
    left: 240px;
    position: fixed;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

  .android .show-reservations .transform-button,
  .no-csstransforms .show-reservations .transform-button,
  .android .show-reservations .page-wrapper,
  .no-csstransforms .show-reservations .page-wrapper {
    left: -240px; }

  .csstransforms .animating .page-wrapper {
    position: fixed !important; }

  /* collapse footer */
  footer .sw {
    max-width: 100%; }

  .copyright,
  footer .footer-contact {
    max-width: 95%;
    margin: 25px auto; }

  .copyright {
    margin-bottom: 0; }

  .footer-nav ul {
    display: block;
    overflow: hidden;
    text-align: left; }

  .footer-nav > ul > li {
    border: none;
    display: block; }

  .footer-nav > ul > li > a {
    padding: 10px; }

  .copyright li {
    display: block;
    border: none;
    margin: 0;
    padding: 4px 0 !important;
    font-size: 14px; }

  /* gallery */
  .gallery-thumb {
    min-width: 50%; } }
/* search results height restrictions */
@media screen and (max-height: 700px) {
  .search-overlay.with-results .search-content {
    margin-top: 0;
    top: 0; } }
@media screen and (max-height: 650px) {
  .search-overlay form {
    padding: 15px 50px 15px 15px; }

  .search-overlay .search-content input {
    font-size: 20px; }
    .search-overlay .search-content input::-webkit-input-placeholder {
      font-size: 20px; }
    .search-overlay .search-content input::-moz-placeholder {
      font-size: 20px; }
    .search-overlay .search-content input:-moz-placeholder {
      font-size: 20px; }
    .search-overlay .search-content input:-ms-input-placeholder {
      font-size: 20px; }

  .search-results {
    top: 57px; }

  .search-results .article-body {
    padding: 0; }

  .search-results .results-types .selector .value {
    padding: 10px 20px; }

  .search-results .result-img + .article-body {
    padding-left: 20px; } }
@media screen and (max-height: 650px) and (max-width: 750px) {
  .search-results .results {
    top: 72px; } }
/* vertically collapsed booking form */
@media screen and (max-height: 680px) and (min-width: 601px) {
  #mobile-book {
    position: fixed;
    left: auto;
    top: 50%;
    z-index: 998;
    right: 0;
    display: inline-block;
    margin-top: -47px;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

  .reservations {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    width: 290px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    background: #194764;
    background: rgba(25, 71, 100, 0.85);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  .reservations form {
    background: transparent; }

  .ios .reservations > * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

  .no-csstransforms3d .reservations {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

  .no-csstransforms3d .show-reservations .reservations {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  .reservations form {
    position: static; }

  .show-reservations .reservations {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

  .reservations,
  #mobile-book {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: -moz-transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

  .show-reservations #mobile-book {
    -webkit-transform: translate3d(-290px, 0, 0) rotate(-90deg);
    -moz-transform: translate3d(-290px, 0, 0) rotate(-90deg);
    -ms-transform: translate3d(-290px, 0, 0) rotate(-90deg);
    -o-transform: translate3d(-290px, 0, 0) rotate(-90deg);
    transform: translate3d(-290px, 0, 0) rotate(-90deg); }

  .no-csstransforms3d .show-reservations #mobile-book {
    -webkit-transform: translateX(-290px) rotate(-90deg);
    -moz-transform: translateX(-290px) rotate(-90deg);
    -ms-transform: translateX(-290px) rotate(-90deg);
    -o-transform: translateX(-290px) rotate(-90deg);
    transform: translateX(-290px) rotate(-90deg); }

  body.show-reservations {
    overflow: hidden; }

  .reservations .toggle {
    display: none !important; }

  .reservations .fields-wrap {
    max-height: none; }

  .reservations .datepicker.appended {
    position: static !important;
    margin: 10px 0 !important;
    height: auto !important; } }
@media screen and (max-width: 750px) {
  /* search results */
  .search-results p,
  .search-results .button,
  .search-results .result-img {
    display: none; }

  .search-results .article-body,
  .search-results .result-img + .article-body {
    padding: 0; }

  .search-overlay .search-content {
    max-width: 100%; }

  /* collapse footer further */
  .footer-hotels {
    padding-right: 0;
    text-align: center; }

  .footer-hotels .affiliated {
    position: static;
    width: auto;
    margin-top: 30px; }

  .footer-hotels ul {
    display: block;
    overflow: hidden; }

  .footer-hotels li {
    display: inline-block;
    width: 150px;
    margin: 10px; }

  .attraction-blocks .mobile-selector {
    display: block; }

  .attraction-blocks .grid, .attraction-blocks .gallery-thumbs {
    display: none; } }
@media screen and (max-width: 700px) {
  .split-block .content {
    min-height: 0; }

  .split-block-container + .split-block-container {
    border-top: 1px solid #ddd; }

  .split-block .img-wrap {
    display: none; }

  .split-block .content {
    width: auto; } }
@media screen and (max-width: 650px) {
  .blocks.list-view .block .img-wrap {
    display: none; }

  .blocks.list-view .block .img-wrap ~ div {
    margin-left: 0; }

  /* filter bar */
  .filter-bar {
    padding: 10px; }

  .filter-bar .sw {
    max-width: 100%; }

  .filter-bar .meta {
    float: none; }

  .filter-bar .meta > div,
  .filter-bar .meta form {
    display: block;
    margin: 5px 0; }

  .filter-bar .title {
    padding-right: 100px; }

  .filter-bar .controls {
    position: absolute;
    right: 0;
    bottom: -5px; }

  .hotel-page .responsive-tab-selector {
    display: block;
    width: 100%;
    background: #333; }

  .hotel-page .responsive-tab-selector + .tbl-wrap {
    display: none; }

  .hotel-gallery,
  .hotel-gallery + hr {
    display: none; }

  .copyright .social {
    position: static;
    text-align: left;
    padding: 0 0 15px; }

  .directions-controls .mobile-selector {
    display: block; }

  .direction-controls .tbl-wrap {
    display: none; } }
@media screen and (max-width: 600px) {
  .overview-block.with-img {
    min-height: 0; }

  .overview-block.with-img .content {
    margin: 0; }

  .overview-block .img-wrap {
    display: none; } }
@media screen and (max-width: 500px) {
  header .logo {
    max-width: 40%; }

  .hero .caption .title {
    font-size: 14px; }

  /* breadcrumbs */
  .breadcrumbs a {
    display: block; }

  .breadcrumbs a:first-child {
    display: none; }

  .breadcrumbs a:before {
    display: none; }

  #jac {
    position: relative;
    display: inline-block;
    right: 0;
    margin: 10px 0 0; }

  body .hero {
    height: 320px; }

  .feature-block {
    padding-left: 0;
    min-height: 0; }

  .feature-block .img-wrap {
    display: none; } }
@media screen and (max-width: 450px) {
  #mobile-book-now {
    font-size: 12px;
    line-height: 29px;
    padding: 5px 8px; } }
